body {
  margin:90px; /* Remove default body margin */
  background-color: #f0f0f0; /* Gray background for the entire screen */
}

h1{
  padding-bottom: 50px;
}

.container {
  display: flex;
  background-color: #f0f0f0; /* Gray background */
  padding: 20px; /* Padding all directions */
}

.search-container {
  flex: 75%; /* 75% of container */
  padding-right: 20px; /* Right padding */
}

.article {
  flex: 25%; /* 25% of container */
  padding-left: 20px; /* Left padding */
  margin-top: 30px;  
}
.article-button{
  display: flex;
  flex-direction: row;
}
.button-1{
  margin-right: 10px;
  background-color: #61dafb;
  border-radius: 5px;
  border-color: transparent;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}
.button-2{
  border-radius: 5px;
  border-color: black;
  padding: 5px 10px;
  cursor: pointer;
}

.article-border {
  border: 1px solid rgb(213, 207, 207);
  padding: 10px; /* Adjusted padding */
  margin-bottom: 20px;
}
.divider {
  border-left: 1px solid rgb(213, 207, 207); /* Vertical line between articles */
  margin-left: 10px; /* Adjust the spacing between articles */
}




